@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}

:root {
  --color-yellow: #f4d04e;
  --color-gray-950: #111111;
  --color-gray-500: #6b6b6b;
  --color-white: #ffffff;
  --space-300: 24px;
  --space-150: 12px;
  --space-100: 8px;
  --space-50: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

/* text presets */
.t1 {
  font-size: clamp(20px,5.3vw,24px);
  font-weight: 800;
}
.t2 {
  font-size: clamp(14px,3.7vw,16px);
  font-weight: 400;
}
.t3 {
  font-size: clamp(12px,3.2vw,14px);
  font-weight: 400;
}
.t3b {
  font-size: clamp(12px,3.2vw,14px);
  font-weight: 800;
}

body {
  background-color: var(--color-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--space-300);
  min-height: 100vh;
  padding: 16px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

/* blog preview card */
.blog-preview-card {
  background-color: var(--color-white);
  padding: var(--space-300);
  border-radius: 20px;
  border: 1px solid var(--color-gray-950);
  box-shadow: 8px 8px 0 0 #000000;
  width: 100%;
  max-width: 384px;
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.blog-preview-card:hover {
  cursor: pointer;
}

.blog-preview-card img {
  border-radius: 10px;
}

.blog-preview-card .content {
  display: flex;
  flex-direction: column;
  gap: var(--space-150);
  color: var(--color-gray-950);
}

.category {
  padding: var(--space-50) var(--space-150);
  background-color: var(--color-yellow);
  display: inline-block;
  width: fit-content;
  border-radius: var(--space-50);
}

.title {
  color: var(--color-yellow);
}

.description {
  color: var(--color-gray-500);
}

.author {
    display: flex;
    align-items: center;
    gap: var(--space-150);
}

.author img {
   aspect-ratio: 1 / 1;
   width: 32px; 
}


/* attribution */
footer {
  margin-top: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
